* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.intro {
  display: flex;
  background: url("../assets/Desktop_Backgrounds_1920x1200_6 3.svg") no-repeat center center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
  padding-top: 250px;
  padding-bottom: 20%;
}

.headline-logo {
  width: 63px;
  height: 63px;
  margin-bottom: 13px;
}

.headline-header {
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  max-width: 350px;

  text-align: center;
  margin-bottom: 40px;
}

.headline-text {
  color: rgba(255, 255, 255, 0.70);
  text-align: center;
  font-family: 'Source Sans 3';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 420px;

  margin-bottom: 48px;
}

.headline {
  height: 700px;
  flex-shrink: 0; 
  background-color: #EEEEEE;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.headline-text-2 {
  color: #000;
  text-align: center;
  font-family: 'Source Sans 3';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 920px;

  margin-bottom: 21px;
}

.read-more-button {
  border-radius: 18px;
  border: none;
  background-color: #55C2D8;
  color: white;
  width: 115px;
  height: 36px;
  flex-shrink: 0; 
}

.learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../assets/Learn_more_Background.png") no-repeat center center;
  height: 666px;
  text-align: center;
  padding-top: 84px;
}

.learn-more-header {
  max-width: 480px;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; 
  margin-bottom: 53px;
}

.circle-button {
  width: 150px;
  height: 150px;
  background-color: #39C2D7;
  flex-shrink: 0; 
  border-radius: 50%;
  padding-left: 20px;
  padding-top: 25px;
  margin-bottom: 70px;
}

.circle-button-icon {
  font-size: 75px;
}

.learn-more-text {
  text-align: center;
  font-family: 'Source Sans 3';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  width: 390px; 
}

footer {
  background-color: #464547;
  height: 170px;
  max-width: 1200px;
  margin: auto;
  padding-left: 140px;
  padding-top: 21px;
}

.company-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-logo {
  height: 20px;
  width: 20px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.footer-header {
  font-family: 'Source Sans 3';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 12px;
  letter-spacing: 3.6px; 
  word-wrap: break-word;
}

.footer-text {
  color: rgba(255, 255, 255, 0.40);
  font-family: 'Source Sans 3';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; 
  margin-bottom: 6px;
}

.gray {
  color: #464547; 
}

.width-2 {
  max-width: 670px;
}